.SpinnerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.HeaderWrapper {
  max-width: 100vw;
  height: 3rem;
}

.SelectorWrapper {
  max-width: 100vw;
  height: 18rem;
  padding: 0.75rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-around;
}

.SelectorWrapper > .DateTimeWrapper {
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.SelectorWrapper > .DateTimeWrapper > .CalenderWrapper {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.SelectorWrapper > .SiteOptionsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.SelectorWrapper > .SiteOptionsWrapper > div {
  width: 2.75rem;
  padding: 0.25rem;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.SelectorWrapper > .SiteOptionsWrapper > div:hover {
  cursor: pointer;
}

.SelectorWrapper > .NewsItemsWrapper {
  width: 100%;
  border: 1px solid aqua;
}

.ViewerWrapper {
  max-width: 100vw;
  border: 1px solid blue;
  height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: space-around;
}

.ViewerWrapper > .NewsImageWrapper {
  width: 98%;
  border: 1px solid gold;
}
.ViewerWrapper > .NewsHeadlineWrapper {
  width: 90%;
  border: 1px solid blueviolet;
}
.ViewerWrapper > .SharingWrapper {
  width: 90%;
  border: 1px solid teal;
}
